<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
	<a class="navbar-brand" [routerLink]="'/'">Responsive navbar</a>

	<!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
	<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

	<!-- Step 2: Add the ngbCollapse directive to the element below. -->
	<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li
				class="nav-item">
				<!-- Step 4: Close the menu when a link is clicked. -->
				<a class="nav-link" [routerLink]="'/users'" [routerLinkActive]="'active'" (click)="isMenuCollapsed = true">Users</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="'/blogs'" [routerLinkActive]="'active'" (click)="isMenuCollapsed = true">Blogs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="'/ngrx-operator'" [routerLinkActive]="'active'" (click)="isMenuCollapsed = true">NgRx Operator</a>
			</li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>
